header img{

    width: 110%;
    height: 300px;
    }
    .main-content{
    
    min-height: 300px;
    
    }
    .footer{
    
        background-color: black;
        color: white;
         padding: 1px; 
         box-align: bottom;
    }
   