<p>
  user works!
</p>



<!-- <div class="container"> -->
  <!--header start-->
<!-- <div class="row">
<header class="col-md-12">
<img src="../assets/images/a4.jpg">
</header>                    
</div> -->
<!--header end-->


<!--navigation starts-->
<!-- <div class="row">
<nav class="col-md-12">
<ul class="nav justify-content-end nav-tabs"> -->

 <!-- <li><a href="home" class="nav-link">Home</a></li>
<li><a href="user" class="nav-link">Users</a></li>
<li><a href="products" class="nav-link">Products</a></li>
<li><a href="dashboard" class="nav-link">Dashboard</a></li>  -->

 <!-- <li><a [routerLink]="['/home']"      class="nav-link">Home</a></li>
<li><a [routerLink]="['/user']"      class="nav-link">Users</a></li>
<li><a [routerLink]="['/products']"  class="nav-link">Products</a></li>
<li><a [routerLink]="['/dashboard']"  class="nav-link">Dashboard</a></li> 

<li><a [routerLink]="['/categories']"  class="nav-link">Categories</a></li> 
<li><a [routerLink]="['/admin']"  class="nav-link">Admin</a></li>                            -->
<!-- <li><a [routerLink]="['/dashboardN',{
outlets:{

rpanel:['panel'],
rinfo:['info','id']
}
}]"  class="nav-link">New Dashboard</a></li>  -->
<!-- </ul>
</nav>   -->
<!--navigation ends-->


<!--main content starts-->
<!-- <div class='row main-content'>
<div class="col-md-4">
<ul class='nav flex-column nav-tabs'>
<li><a href="#" class="nav-link">Angular</a></li>
<li><a href="#" class="nav-link">Springboot</a></li>
<li><a href="#" class="nav-link">Hibernate</a></li>
<li><a href="#" class="nav-link">NodeJs</a></li>
</ul>
</div>

</div>
<div class="col-md-8">
<h4 class="text-center">Route will be loaded here</h4>
 <router-outlet></router-outlet>

</div>
</div>  -->
<!--main content end-->    


<!--footer starts here -->
 <!-- <div class="row footer">
<footer class="col-md-12">

<p class="text-center">All right reserve to ICSD</p>

</footer> 


</div>  -->
<!--footer end-->
<!-- </div>
</div> -->
